#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 2px solid black;
  width: 800px;
  height: 400px;
}
.header{
  font-size: 24px;
  color: black;
  font-size: bold;
  padding: 20px;
}

.firstQuestion{
  font-size: 16px;
  color: black;
}

.Q2{
  font-size: 16px;
  color: black;}