
.container {
  display: flex;
  align-content: center;
  background-color: hsl(234, 49%, 79%);
  justify-content: center;
  gap: 10px;
  width: 100vh;
  padding: 10px;
}

.cardContainer {
  border: 1px solid #ffffff;
  padding: 20px;
  text-align: center;
  background-color: azure;
}

.cardContainer img {
  width: 100%; 
  height: auto;
}

.cardContainer h3 {
  margin: 10px 0;
  color: aqua;
}

.cardContainer p {
  margin: 10px 0;
  color: blue;
}
