#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{

  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
}
